<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ticket #{{ticket.uid}}</title>
</head>
<body style="font-family: sans-serif; margin: 0;">
  <div style="background: {{settings.colors.header_background}}; border-bottom: 1px solid #0c2139; height: 75px;">
    <div style="display: inline-block; line-height: 75px; margin-left: 20px;">
      <img src="{{settings.logo}}" style="vertical-align: middle; width: 140px;">
    </div>
    <div style="display: inline-block; float: right; line-height: 75px; margin-right: 20px;">
      <div style="display: inline-block; color: {{settings.colors.header_primary}}; font-size: 20px; line-height: normal; text-align: right; max-width: 175px; vertical-align: middle;">
        {{settings.title}}
      </div>
    </div>
  </div>
  <div style="border-radius: 25px; display: table; margin: 20px auto; max-width: 720px; overflow: hidden; width: 90%;">
    <div style="background: {{ticket.status.html_color}}; padding: 20px;">
      <div style="color: white; font-size: 50px; font-weight: bold; margin-bottom: 20px; text-align: center;">
        {{title}}
      </div>
      <div style="margin-bottom: 20px; text-align: center;">
        <img src="https://i.ibb.co/yp21GCk/outline-task-alt-white-36dp.png" />
      </div>
      <div style="display: table; font-size: 20px; font-weight: bold; margin: 0 auto 20px; max-width: 60%; text-align: center;">
        {{{ticket.subject}}}
      </div>
      <div style="display: table; font-style: italic; font-size: 20px; line-height: 20px; margin: 0 auto; max-width: 60%; text-align: center;">
        {{ticket.owner.fullname}} <span style="vertical-align: middle;"><img src="https://i.ibb.co/jymzc26/outline-arrow-right-alt-white-24dp.png" /></span> {{ticket.assignee.fullname}}
      </div>
    </div>
    <div style="background: #f9f7f7; padding: 20px;">
      <div style="background: white; border-radius: 10px; display: block; margin: 0 auto; padding: 10px;">
        <div style="background: #ddd; border-radius: 5px; color: #000; display: inline-block; font-size: 18px; height: 30px; line-height: 30px; margin: 0 10px 10px 0; padding: 0 10px; text-align: center; text-decoration: none;">
          AI Intern (Hosting)
        </div>
        <div style="background: {{ticket.priority.html_color}}; border-radius: 5px; color: #fff; display: inline-block; font-size: 18px; height: 30px; line-height: 30px; margin: 0 10px 10px 0; padding: 0 10px; text-align: center; text-decoration: none;">
          {{ticket.priority.name}} - {{ticket.type.name}}
        </div>
        {{#each ticket.tags}}
          <div style="background: {{../settings.colors.tags}}; border-radius: 5px; color: #fff; display: inline-block; font-size: 18px; height: 30px; line-height: 30px; margin: 0 10px 10px 0; padding: 0 10px; text-align: center; text-decoration: none;">
            {{name}}
          </div>
        {{/each}}
        <div style="margin: 20px;">
          {{{ticket.issue}}}
        </div>
      </div>
      <div style="display: table; margin: 0 auto;">
        <a href="{{base_url}}/tickets/{{ticket.uid}}" target="_blank" style="background: #ddd; border-radius: 5px; display: block; font-size: 20px; height: 40px; line-height: 40px; margin-top: 20px; padding: 0 20px; text-align: center; text-decoration: none;">
          Ticket öffnen
        </a>
      </div>
    </div>
  </div>
</body>
</html>